<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px" ng-controller="photoCtrl">
     <h1>Image image</h1>    

         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="./imgs/img_1087.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="./imgs/img_1328.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="./imgs/img_1401.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/fjords.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
         </div>
</div>         

       